<div class="row">
  <div class="form-centre">
    <app-box boxTitle="Login Form">
    <form [formGroup]="userForm" class="text-center border border-light p-5" (ngSubmit)="login()">

      <label for="email">Email</label>
      <input type="email" id="email" name="email2" class="form-control mb-4 input" formControlName="email" required
        autocomplete="new-password">
    
      <div *ngIf="formErrors.email" class="help is-danger">
        {{ formErrors.email }}
      </div>
    
      <label for="password">Password</label>
      <input type="password" id="password" name="password2" class="form-control mb-4 input" formControlName="password" required
        autocomplete="new-password">
    
      <div *ngIf="formErrors.password" class="help is-danger">
        {{ formErrors.password }}
      </div>
    
      <button type="submit" class="button my-4 btn btn-success" [disabled]="!userForm.valid">Submit</button>
    
    </form>
  </app-box>
  </div>
</div>

