<div class="row">
  <div class="col-md-4">
      <app-infobox 
        icon="money" 
        boxTitle="Total Income" 
        boxVal="6000.00" 
        bottomTitle="Budget Allocated" 
        bottomVal="7500"
        boxColor="bg-aqua">
      </app-infobox>
  </div>
  <div class="col-md-4">
      <app-infobox 
      icon="shopping-cart" 
      boxTitle="Total Expense" 
      boxVal="3000.00" 
      bottomTitle="Expected Expense" 
      bottomVal="3000"
      boxColor="bg-red">
    </app-infobox>
  </div>
  <div class="col-md-4">
      <app-infobox 
      icon="money" 
      boxTitle="Total Income" 
      boxVal="6000.00" 
      bottomTitle="Budget Allocated" 
      bottomVal="7500"
      boxColor="bg-green">
    </app-infobox>
  </div>
</div>
